<footer>
    <div class="footerTop">
        <div class="logo">
            <img src="img/logo.png" alt="" class="img imgFit">
        </div>
        <button [routerLink]="['/']" class="button buttonSecondary">Поиск автомобиля</button>
    </div>
    <div class="footerMid">
        <div class="footerMidItem">
            <h4>Навигация по сайту</h4>
            <div class="links">
                <div>
                    <ul>
                        <li>О нас</li>
                        <li>FAQ</li>
                        <li>Отзывы</li>
                        <li>Проверить VIN Код</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Контакты</li>
                        <li>Публикации</li>
                        <li>Доставка</li>
                        <li>Архив</li>
                    </ul>
                </div>
            </div>
            <div class="lang">
                <h4>Язык сайта</h4>
                <ul>
                    <li>LT</li>
                    <li>AL</li>
                    <li>EN</li>
                    <li>UK</li>
                    <li>ES</li>
                    <li>AE</li>
                    <li>FR</li>
                    <li>BG</li>
                    <li>PL</li>
                    <li>RU</li>
                </ul>
            </div>
        </div>
        <div class="footerMidItem">
            <h4>Популярные страны</h4>
            <div class="links">
                <div>
                    <ul>
                        <li>Германии</li>
                        <li>Польши</li>
                        <li>Бельгии</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Италии</li>
                        <li>США</li>
                        <li>Нидерландов</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Франции</li>
                        <li>Кореи</li>
                        <li>Испании</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footerMidItem">
            <h4>Наши социальные сети</h4>
            <div class="socMedia">
                <div class="socMediaItem">
                    <i class="fa-regular fa-envelope" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-solid fa-phone" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-regular fa-paper-plane" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-viber" style="color: #d7d7d7;"></i>
                </div>
            </div>
            <div class="socMedia">
                <div class="socMediaItem">
                    <i class="fa-brands fa-whatsapp" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-facebook-f" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-instagram" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-youtube" style="color: #d7d7d7;"></i>
                </div>
            </div>
            <div class="allSocMedia">
                <div class="socMediaItem">
                    <i class="fa-regular fa-envelope" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-solid fa-phone" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-regular fa-paper-plane" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-viber" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-whatsapp" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-facebook-f" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-instagram" style="color: #d7d7d7;"></i>
                </div>
                <div class="socMediaItem">
                    <i class="fa-brands fa-youtube" style="color: #d7d7d7;"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBottom">
        <span>Политика конфиденциальности</span>
        <p>PLC Group - © 2013-2024. Все права защищены.</p>
        <span>Условия эксплуатации</span>
    </div>
</footer>