.carSlider {
    position: relative;
    .flag {
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 0;
    }
}
.selectedItem {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
}
p-dropdown {
    width: 100%;
}

.vin {
    display: flex;
    p {
        margin-right: 10px;
    }
}

.custom-galleria-footer {
    position: absolute;
    bottom: 210px;
    right: 20px;
    color: white;
    padding: 10px;
    background: #333;
    z-index: 10; 
    border-radius: 3px;
    opacity: 0.7;
}