<section class="topPage">
    <header>
        <div class="logo">
            <div class="logoImg">
                <img src="/img/logo.png" alt="" class='img imgFit'>
            </div>
            <div class="logoMob">
                <img src="/img/logMob.png" alt="" class="img imgFit">
            </div>
            <span>by PLC Group</span>
        </div>
        <div class="searchBar">
            <input type="text" placeholder='Введите Марку/Модель/VIN/Лот'>
            <i class="fa-solid fa-magnifying-glass" style="color: #878d98;"></i>
        </div>
        <div class="headerBtns">
            <button class="button buttonPrimary">Поиск автомобиля</button>
            <button class="button buttonSecondary">Войти</button>
            <i class="fa-solid fa-bars buttonSecondaryAdap" style="color: #383a3f;"></i>
        </div>
        <button class="button buttonSecondary buttonPrimaryAdap">Поиск автомобиля</button>
        <i class="fa-solid fa-bars buttonSecondaryAdap2" style="color: #383a3f;"></i>
    </header>
    <div class="navBar">
        <div class="leftNav">
            <i class="fa-solid fa-bars" style="color: #c1c2c4;"></i>
            <i class="fa-solid fa-envelope" style="color: #c1c2c4;"></i>
            <i class="fa-solid fa-phone" style="color: #c1c2c4;"></i>
            <span>+1 585 282-6777</span>
        </div>
        <div class="rightNav">
            <i class="fa-solid fa-location-dot" style="color: #fdfefe;"></i>
            <div class="dropdown">
                <div class="flag">
                    <i class="flag flag-tajikistan"></i>
                </div>
                <span>Tajikistan</span>
                <i class="fa-solid fa-chevron-down" style="color: #c1c2c4;"></i>
            </div>
            <i class="fa-regular fa-clock" style="color: #fdfefe;"></i>
            <span>GMT+1 (CET)</span>
            <i class="fa-solid fa-chevron-down" style="color: #c1c2c4;"></i>
            <div class="dropdown">
                <i class="fa-solid fa-globe" style="color: #c1c2c4;"></i>
                <label for="languages">Язык:</label>
                <select name="" id="">
                    <option value="">Русский</option>
                    <option value="">Shqip</option>
                    <option value="">English</option>
                    <option value="">Български</option>
                </select>
            </div>
        </div>
    </div>
</section>