<section class="topPage">
    <header>
        <div class="logo">
            <div class="logoImg">
                <img src="/img/logo.png" alt="" class='img imgFit'>
            </div>
            <div class="logoMob">
                <img src="/img/logMob.png" alt="" class="img imgFit">
            </div>
            <span>by PLC Group</span>
        </div>
        <div class="searchBar">
            <input [formControl]="searchControl" style="width: 100%;" type="text"
                placeholder='Введите VIN/Номер Лота'>
            <div *ngIf="results$ | async as results" class="items">
                <div *ngFor="let item of results.data" class="items-container">
                    <a href="/detail/{{item.id}}">
                        <div class="items-main-info">
                            <img class="img" [src]="backURL + item.attributes?.images.data[0].attributes.url" alt="">
                            <div>
                                <div class="name">
                                    {{item.attributes.car_model.data.attributes.manufactor.data.attributes.name}}
                                    {{item.attributes.car_model.data.attributes.name}}, {{item.attributes.year}}</div>
                                <div class="year">{{item.attributes.vin}} | {{item.attributes.lot_number}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="name"><b style="font-weight: 700;">{{item.attributes.total_sum | number }}
                                    USD</b></div>
                        </div>
                    </a>
                </div>
            </div>
            <i class="fa-solid fa-magnifying-glass" style="color: #878d98;"></i>
        </div>
        <div class="headerBtns">
            <button class="button buttonPrimary">Поиск автомобиля</button>
            <button class="button buttonSecondary">Войти</button>
            <i class="fa-solid fa-bars buttonSecondaryAdap" style="color: #383a3f;"></i>
        </div>
        <button class="button buttonSecondary buttonPrimaryAdap">Поиск автомобиля</button>
        <i class="fa-solid fa-bars buttonSecondaryAdap2" style="color: #383a3f;"></i>
    </header>
    <div class="navBar">
        <div class="leftNav">
            <i class="fa-solid fa-bars" style="color: #c1c2c4;"></i>
            <i class="fa-solid fa-envelope" style="color: #c1c2c4;"></i>
            <i class="fa-solid fa-phone" style="color: #c1c2c4;"></i>
            <span>+1 585 282-6777</span>
        </div>
        <div class="rightNav">
            <i class="fa-solid fa-location-dot" style="color: #fdfefe;"></i>
            <p-dropdown [options]="(countries$ | async)?.data" [(ngModel)]="selectedCountry" optionLabel="name"
                [style]="{width: '100%', background: 'transparent'}">
                <ng-template pTemplate="selectedItem">
                    <div style="color: white !important; display: flex; align-items: center;" class="selectedItem"
                        *ngIf="selectedCountry">
                        <i class="flag flag-{{selectedCountry?.attributes?.code}}"></i>
                        <div>{{ selectedCountry?.attributes?.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div style="display: flex; align-items: center; padding: 10px;" class="selectedItem">
                        <i class="flag flag-{{country.attributes.code}}"></i>
                        <div>{{ country.attributes.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <i class="fa-regular fa-clock" style="color: #fdfefe;"></i>
            <span>GMT+1 (CET)</span>
            <i class="fa-solid fa-chevron-down" style="color: #c1c2c4;"></i>
            <div class="dropdown">
                <i class="fa-solid fa-globe" style="color: #c1c2c4;"></i>
                <label for="languages">Язык:</label>
                <select name="" id="">
                    <option value="">Русский</option>
                    <option value="">Shqip</option>
                    <option value="">English</option>
                    <option value="">Български</option>
                </select>
            </div>
        </div>
    </div>
</section>